/* custom css  */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@1,900&family=The+Nautigal&display=swap');  
body{
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'The Nautigal', cursive;
}